# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
*.sw?
*.local

# Testing
coverage/

# Build tools
.turbo

# Deploy services
.vercel/
.netlify/
